# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import json
import pandas as pd

In [2]:
def get_data(url):
    request_data = requests.get(url)
    return request_data

In [3]:
url = "http://api.citybik.es/v2/networks"
data = json.loads(get_data(url).text)

for bike_network in data["networks"]:
    if bike_network["location"]["city"].capitalize() == "London":
        print(bike_network) # Provides the href to view the network through the API

{'company': ['PBSC', 'Serco Group plc'], 'href': '/v2/networks/santander-cycles', 'id': 'santander-cycles', 'location': {'city': 'London', 'country': 'GB', 'latitude': 51.51121389999999, 'longitude': -0.1198244}, 'name': 'Santander Cycles'}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [ ]:
url = "https://api.citybik.es/v2/networks/santander-cycles"
data = json.loads(get_data(url).text)

stations = []

for station in data["network"]["stations"]:
    stations.append(
        {
        "station_name": station["name"],
        "latitude": station["latitude"],
        "longitude": station["longitude"],
         "free_bikes": station["free_bikes"]
        }
    )
    
print(stations)

Put your parsed results into a DataFrame.

In [5]:
stations_df = pd.DataFrame(stations)
stations_df

,station_name,latitude,longitude,free_bikes
0,"001023 - River Street , Clerkenwell",51.529163,-0.109971,7
1,"001018 - Phillimore Gardens, Kensington",51.499607,-0.197574,14
2,"001024 - Park Street, Bankside",51.505974,-0.092754,16
3,"001022 - Brunswick Square, Bloomsbury",51.523951,-0.122502,20
4,"000980 - Malet Street, Bloomsbury",51.521681,-0.130432,15
...,...,...,...,...
794,"001193 - Kensington Gore, Knightsbridge",51.501433,-0.178657,2
795,"200074 - Bury Place, Holborn",51.517420,-0.123190,1
796,"001197 - Sackville Street, Mayfair",51.510048,-0.138846,3
797,"001204 - Queen's Gate (North), Kensington",51.501027,-0.180246,0
798,"003442 - Abingdon Villas, Kensington",51.497388,-0.197246,4